global:
  namespace: kbe-brewery-gateway

service:
  type: NodePort

  port: 9200
  targetPort: 9200
  nodePort: 30920
  transport: 9300

ingress:
  enabled: false

elasticsearchImage:
  repository: docker.elastic.co/elasticsearch/elasticsearch
  tag: "9.2.1"
  pullPolicy: IfNotPresent

curlimagesImage:
  repository: curlimages/curl
  tag: "8.17.0"
  pullPolicy: IfNotPresent
